$day-header-height: 22px;

.day-view {
  height: calc((100vh - 36px) / 7);
}
.day-header {
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: white;

  color: #66615b;
  text-align: center;
}
.today {
  font-weight: bold;
}
.past {
  .day-header {
    color: #ccc;
  }
  .option-pane {
    color: #999;
  }
}
.option-pane {
  width: 100%;
  height: calc(100% - #{$day-header-height});

  button {
    all: unset;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
