<div class="day-view" [ngClass]="{ today: isToday, past: hasPast }">
  <div class="day-header">
    {{ day | date: "EEEE dd MMMM" }}
  </div>
  <div class="option-pane row no-gutters">
    <div class="col" (click)="openOptions('lunch', entry.meals?.lunch)">
      <span class="lunch-btn" *ngIf="!!entry?.meals?.lunch">{{
        entry.meals.lunch
      }}</span>
      <button class="lunch-btn" *ngIf="!entry?.meals?.lunch">Add Lunch</button>
    </div>
    <div class="col" (click)="openOptions('dinner', entry.meals?.dinner)">
      <span class="dinner-btn" *ngIf="!!entry?.meals?.dinner">{{
        entry.meals.dinner
      }}</span>
      <button class="dinner-btn" *ngIf="!entry?.meals?.dinner">
        Add Dinner
      </button>
    </div>
  </div>
</div>
