<div class="container-flow">
  <div id="titlebar" class="row no-gutters">
    <div
      class="col-3 col-12-xs d-flex justify-content-center align-items-center"
    >
      <h3>Meals</h3>
    </div>
    <nav class="col d-flex align-items-center">
      <button (click)="changeWeek(-7)">
        <i _ngcontent-c9="" class="now-ui-icons arrows-1_minimal-left"></i>
      </button>
      <span>{{ weekStarting$ | async | date: "dd MMM yyyy" }}</span>
      <button (click)="changeWeek(7)">
        <i _ngcontent-c9="" class="now-ui-icons arrows-1_minimal-right"></i>
      </button>
    </nav>
  </div>
</div>

<app-day-view [date]="monday | async"></app-day-view>
<app-day-view [date]="tuesday | async"></app-day-view>
<app-day-view [date]="wednesday | async"></app-day-view>
<app-day-view [date]="thursday | async"></app-day-view>
<app-day-view [date]="friday | async"></app-day-view>
<app-day-view [date]="saturday | async"></app-day-view>
<app-day-view [date]="sunday | async"></app-day-view>

<footer></footer>
