#titlebar {
  min-height: 5vh;
  border-bottom: 1px solid #ccc;
  background-color: #f4f3ef;
  white-space: nowrap;

  h3 {
    font-size: calc(1em + 0.5vw);
    // font-size: min(16px, 1.2em);
    margin: 0;
    font-style: italic;
    color: #66615b;
    display: inline-block;
    padding: 0 10px;
  }
  nav {
    display: inline-block;
    justify-content: flex-end;
    button {
      all: unset;
      margin: 0 15px;
      i {
        vertical-align: sub;
      }
    }
  }
}

footer {
  border-top: 2px solid white;
}
